{% extends 'index.html' %} {% block content %}
<div class="relative">
	<div
		class="flex flex-col lg:flex-row lg:items-center max-w-screen-xl mx-auto py-16 md:py-20"
	>
		<div
			class="relative lg:w-7/12 text-center max-w-lg mx-auto lg:max-w-none lg:text-left"
		>
			<h1
				class="font-bold text-3xl md:text-3xl lg:text-4xl xl:text-5xl text-gray-900 leading-tight"
			>
				Website Phishing Checker
			</h1>
			<p class="my-5 lg:my-8 text-base xl:text-lg">
				Masukan URL dari suatu website pada kolom pencarian untuk mengetahui
				apakah website tersebut merupakan phishing atau bukan.
			</p>
			<form action="{% url 'result' %}" method="POST">
				{% csrf_token %}
				<div class="relative max-w-xl text-center mx-auto lg:mx-0">
					<input
						type="text"
						placeholder="eg. https://itenas.ac.id"
						class="sm:pr-48 pl-8 py-4 sm:py-5 rounded-full border-2 w-full font-medium focus:outline-none transition duration-300 focus:border-primary-500 hover:border-gray-500"
						name="url"
					/>
					<button
						class="w-full sm:absolute right-0 top-0 bottom-0 bg-primary-500 text-gray-100 font-bold mr-2 my-4 sm:my-2 rounded-full py-4 flex items-center justify-center sm:w-40 sm:leading-none focus:outline-none hover:bg-primary-900 transition duration-300"
						type="submit"
					>
						Cek Website
					</button>
				</div>
			</form>
			<p class="my-5">
				Ingin mengetahui lebih lanjut? Klik tombol di bawah berikut ini.
			</p>
			<a
				class="px-8 py-3 font-bold rounded bg-primary-500 text-gray-100 hocus:bg-primary-700 hocus:text-gray-200 focus:shadow-outline focus:outline-none transition duration-300 mt-4 text-sm inline-block mx-auto md:mx-0"
				href="#tentang"
			>
				Pelajari
			</a>
		</div>
		<div
			class="relative mt-12 lg:mt-0 flex-1 flex flex-col justify-center lg:self-end"
		>
			<div class="flex justify-center lg:justify-end items-center">
				<img
					class="min-w-0 w-full max-w-lg xl:max-w-3xl"
					src="https://treact.owaiskhan.me/static/media/design-illustration-2.6da6a00b.svg"
					alt="Design Illustration"
				/>
			</div>
		</div>
	</div>
</div>

<div class="relative" id="tentang">
	<div
		class="flex flex-col items-center md:items-stretch md:flex-row flex-wrap md:justify-center max-w-screen-lg mx-auto py-10 md:py-12"
	>
		<h5 class="font-bold text-primary-500 mb-4">Tentang</h5>
		<h2
			class="w-full text-3xl sm:text-4xl font-black tracking-wide text-center"
		>
			Tentang Website Ini
		</h2>
		<div
			class="w-full text-center mt-4 text-sm md:text-base lg:text-lg font-medium leading-relaxed text-secondary-100"
		>
			<p>
				<b>Website Phishing</b> adalah website yang dapat mengkoleksi informasi
				rahasia atau pribadi dari seseorang seperti email, username, password,
				atau bahkan pencurian informasi mengenai kartu kredit secara ilegal
				(ODEH et al., 2020).
			</p>
			<p class="mt-4">
				Website ini dibangun untuk mengecek suatu website melalui URL apakah
				terdeteksi sebagai phishing atau tidak. Diharapkan dengan adanya website
				ini dapat membantu dan mencegah orang-orang dari website phishing.
			</p>
		</div>
	</div>
	<div class="flex max-w-screen-xl mx-auto py-5">
		<div class="md:w-1/2 lg:w-1/3 max-w-sm">
			<div
				class="flex flex-col sm:flex-row items-center sm:items-start text-center sm:text-left h-full mx-4 px-2 py-8"
			>
				<span class="border text-center rounded-full p-5 flex-shrink-0">
					<i class="fa-solid fa-shield fa-xl text-primary-200"></i>
				</span>
				<span class="sm:ml-4 mt-4 sm:mt-2">
					<p class="mt-4 tracking-wide font-bold text-2xl leading-none">
						Sumber Data
					</p>
					<p class="mt-1 sm:mt-4 font-medium text-secondary-100 leading-loose">
						Sumber data yang digunakan pada aplikasi ini berdasarkan dari jurnal
						"<i
							>Towards Benchmark Datasets for Machine Learning Based Website
							Phishing Detection: An experimental study</i
						>" oleh A. Hannousi dan S. Yahiouche
					</p>
				</span>
			</div>
		</div>
		<div class="md:w-1/2 lg:w-1/3 max-w-sm">
			<div
				class="flex flex-col sm:flex-row items-center sm:items-start text-center sm:text-left h-full mx-4 px-2 py-8"
			>
				<span class="border text-center rounded-full p-5 flex-shrink-0">
					<i class="fa-solid fa-shield fa-xl text-primary-200"></i>
				</span>
				<span class="sm:ml-4 mt-4 sm:mt-2">
					<p class="mt-4 tracking-wide font-bold text-2xl leading-none">
						Multilayer Perceptron
					</p>
					<p class="mt-1 sm:mt-4 font-medium text-secondary-100 leading-loose">
						Memanfaatkan metode Multilayer Perceptron yang memiliki
						karakteristik yang sangat mirip dengan jaringan saraf biologi dan
						memiliki potensi fenomenal untuk mecapai akurasi yang optimal.
					</p>
				</span>
			</div>
		</div>
		<div class="md:w-1/2 lg:w-1/3 max-w-sm">
			<div
				class="flex flex-col sm:flex-row items-center sm:items-start text-center sm:text-left h-full mx-4 px-2 py-8"
			>
				<span class="border text-center rounded-full p-5 flex-shrink-0">
					<i class="fa-solid fa-shield fa-xl text-primary-200"></i>
				</span>
				<span class="sm:ml-4 mt-4 sm:mt-2">
					<p class="mt-4 tracking-wide font-bold text-2xl leading-none">
						ANOVA
					</p>
					<p class="mt-1 sm:mt-4 font-medium text-secondary-100 leading-loose">
						Selain itu, menggunakan metode ANOVA (Analysis of Variance) untuk
						menentukan fitur-fitur terbaik yang diperlukan untuk menentukan
						kemungkinan website phishing atau bukan.
					</p>
				</span>
			</div>
		</div>
	</div>
</div>
<div class="relative" id="metode">
	<div
		class="flex flex-col items-center md:items-stretch md:flex-row flex-wrap md:justify-center max-w-screen-lg mx-auto py-10 md:py-12"
	>
		<h5 class="font-bold text-primary-500 mb-4">Metode</h5>
		<h2
			class="w-full text-3xl sm:text-4xl font-black tracking-wide text-center"
		>
			Metode yang Digunakan
		</h2>
		<div
			class="w-full text-center mt-4 text-sm md:text-base lg:text-lg font-medium leading-relaxed text-secondary-100"
		>
			<p>
				Pada pembuatan website ini penulis menggunakan 2 metode yaitu
				<b>Analysis of Variance (ANOVA)</b> dalam pemilihan fitur dan
				<b>Multilayer Perceptron</b>
				dalam klasifikasi atau identifikasi website phishing atau tidak.
			</p>
			<p class="mt-4">
				Multilayer Perceptron memiliki potensi fenomenal untuk mecapai akurasi
				yang optimal dibandingkan dengan metode machine learning (M et al.,
				2020). Artificial Neural Network merupakan sistem pemroses informasi
				yang memiliki karakteristik yang sangat mirip dengan jaringan saraf
				biologi (Izati & Notobroto, 2019).
			</p>
			<p class="mt-4">
				Selain itu, juga menggunakan Analysis of Variance (ANOVA) untuk feature
				selection dengan pendekatan statistik untuk membandingkan fitur atau
				variabel independen dengan cara menghitung rasio varian diantara dan di
				dalam kelompok untuk memberi peringkat pada fitur (Nasiri & Alavi,
				2022).
			</p>
		</div>
	</div>
</div>
{% endblock %}
